body {
  --green: #0cca4a;
  --white: #fff;
  --light_grey: #c8d3d5;
}

.button {
  height: 53px;
  width: 150px;
  border-radius: 14px;
  background-color: var(--green);
  color: var(--white);
  border: none;
  font-weight: 600;
  font-size: 20px;
  margin: 20px;
  cursor: pointer;
  outline: none;
}

.button:disabled {
  background-color: var(--light_grey);
  cursor: default;
}

.reset {
  background-color: var(--white);
  color: var(--green);
  border: 1px solid var(--green);
}

@media only screen and (max-width: 600px) {
  .button {
    width: 130px;
  }
}
